{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>BootstrapComponent2!</title>
  </head>
  <body>
    <!-- jumbotron components -->
    <div class="jumbotron">
        <h1 class="display-4">Mahesh Babu!</h1>
        <p class="lead">Ghattamaneni Mahesh Babu is an Indian actor, film producer, media personality, and philanthropist who works in Telugu cinema. He is one of the highest-paid actors in Indian cinema.</p>
        <hr class="my-4">
        <p>Ghattamaneni Mahesh Babu (born 9 August 1975) is an Indian actor, film producer, media personality, and philanthropist who works in Telugu cinema.</p>
        <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Mahesh_Babu" role="button">Learn more</a>
    </div>
    <!-- listGroup -->
    <!--Media heading  -->
    <div class="media">
        <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-1293329,resizemode-75,msid-111116019/magazines/panache/bigg-boss-ott-3-where-and-when-to-watch-check-release-date-contestants-list-prize-money.jpg" class="mr-3" alt="..." >
        <div class="media-body">
          <h5 class="mt-0">Breaking News</h5>
          <p>Payal Malik shares her first video after eviction from Bigg Boss OTT 3, pointing fingers at housemates for her elimination</p>
        </div>
      </div>
    <!-- media order -->
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Media object</h5>
        <p>I know there will be sacrifice but that's the price. Are you brave enough to let me see your peacock? Be your teenage dream tonight. Uh-huh, I see you. There is no going back. Yeah, we maxed our credit cards and got kicked out of the bar. So let me get you in your birthday suit. You may fall in love when you meet her. Had the world in the palm of your hands. Don't let the greatness get you down, oh, oh yeah. Now we talking astrology, getting our nails did, all Japanese-y. Make me your Aphrodite.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae magnam voluptatibus voluptatum, voluptatem cum tempora in sit accusamus fuga temporibus pariatur illo, reprehenderit eos voluptate exercitationem error. Suscipit, facilis odio.
          Esse ullam perferendis omnis quam illo accusantium reiciendis illum mollitia vel officiis laborum ea delectus, hic sint quibusdam blanditiis a maiores neque sunt quas debitis incidunt! Exercitationem ducimus inventore sunt.
          Quis amet voluptatem exercitationem voluptate dolor vel? Sint amet harum, quidem deserunt natus dolores inventore repudiandae voluptatum nulla molestiae repellat, maiores unde nam soluta nihil quibusdam qui dolorum sunt repellendus?
          Qui a molestias adipisci. Eveniet fugit ducimus harum officiis sed aliquam tenetur in animi eum, quo expedita enim et saepe magnam error ab dignissimos eos velit totam exercitationem? Eos, possimus!
          Sapiente enim sed similique neque quidem earum, aspernatur quibusdam, voluptate ipsum deleniti eius pariatur laboriosam doloribus architecto facere dicta esse atque quis, obcaecati eaque! Ullam non veniam dolore optio facilis!
        </p>
      </div>
      <img src="https://play-lh.googleusercontent.com/LEKfwIkvOgLyrRwh7mnDyepreiiuGgmddxQYeFirxNFInydUJHwrgify5S4rjZBaKPm_" class="ml-3" alt="...">
    </div>
    <!-- Modals(popup) -->
    
    <!-- live modal -->
     
    
















    <footer style="margin-bottom: 600px;"></footer>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
  </body>
</html>